<body id="general-background">

  <section id="signin">
 
<form class="identification" action="/login" method="post">
        <h1>Log In</h1>
        <div>
          <div>
            <input
              type="email"
              aria-describedby="emailHelp"
              name="email"
              placeholder="   Username"
            />
          </div>
          <div>
            <input type="password" name="password" placeholder="   Password" />
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>

      <div class="signup">
        <p>If you don't have an account yet, please:</p>
        <button> <a href="/signup">Sign up</a></button>

      </div>
 
  </section>

{{#if errorMessage}}
  <section id="errorMessage">  
      <p >{{errorMessage}}</p>
  </section>
{{/if}}
</body>
