<body id="general-background">

  <section id="signin">

    <form class="identification" action="/signup" method="post" enctype="multipart/form-data">
      <h1>Sign up</h1>

      <div>

        <input type="file" id="file" name="profileImgUrl" class="inputFile"/>
        <label for="file">Choose a picture</label>
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="   Username"
        />
      </div>
      <div>
        <input
          type="email"
          aria-describedby="emailHelp"
          name="email"
          placeholder="   Email"
        />
      </div>
      <div>
        <input type="password" name="password" placeholder="   Password" />
      </div>
 
      <button type="submit">Submit</button>
    </form>

  </section>

  {{#if errorMessage}}
    <section id="errorMessage">
      <p>{{errorMessage}}</p>
    </section>
  {{/if}}


</body>