<body id="general-background"> 

<div  class="shelf">
  {{#each items}} 

 <div class="book-card">
  <div class="book-image">
    <img src="{{volumeInfo.imageLinks}}" alt="book cover" />
  </div>
    
    <div class="book-title">
      <h3 class="running-title"> {{volumeInfo.title}}</h3> 

    </div>
    <div class="buttons">
      <button class="brown-btn"><a href="/books/{{id}}" >See book details</a></button>
      

      <br>
      {{#if ../userInSession}}
      <form action="/add-book/{{id}}" method="post">
        <button type="submit" >Add to my shelf</button>
      </form>
      {{/if}}

    </div>

  </div>

  {{/each}}
</div>
</body>