

<body id="general-background" >
<section id="about-us">
    <div class="admin-card">
         <h2>Shengwei aka Mr Bookworm</h2>
        <img src="/images/default-profile-image-2.jpeg" alt="Bookworm">
       
        <p><b>Passion:</b>   I love my cat Joojoo</p>

    </div>
    <div class="admin-card">
        <h2>Valentine aka Miss Beetle</h2>
        <img src="/images/default-profile-image-1.jpeg" alt="Bookworm">
        
        <p> <b>Passion:</b>  I love to sleep</p>

    </div>

</section>
    
</body>