

<body id="general-background" >
<section id="about-us">
    <div class="admin-card">
         <h2>Shengwei aka Mr Bookworm</h2>
        <img src="https://res.cloudinary.com/dingakmfw/image/upload/v1675797560/bug-us/default-profile-image-9_h8ccpl.jpg" alt="Bookworm">
       
        <p><b>Passion:</b>   I love my cat Joojoo</p>

    </div>
    <div class="admin-card">
        <h2>Valentine aka Miss Beetle</h2>
        <img src="https://res.cloudinary.com/dingakmfw/image/upload/v1675797560/bug-us/default-profile-image-6_uxsnu4.jpg" alt="Bookworm">
        
        <p> <b>Passion:</b>  I love to sleep</p>

    </div>

</section>
    
</body>