<body id="general-background">

  <div id="profile-body">
  <section id="profile-page">
    <div id="profile-picture">
      <img src="{{userInSession.profileImgUrl}}" alt="profile image" />
      <form
        action="/profile/add-profile-image"
        method="post"
        enctype="multipart/form-data"
      >

        <input type="file" id="file" name="profileImgUrl" class="inputFile"/>
        <label for="file">Choose a picture</label>
        <button type="submit" class="blue-btn">Send</button>

      </form>
    </div>

    <div id="profile-info">
      <div>
        <h2>Dear <b> {{userInSession.username}}</b>, </h2>
        <p>you are connected to your library <b>The Bug-us.</b> </p>
        <ul>
          <li>Explore new books with the Search-Bar</li>
          <li>Add your favorite books to your shelf</li>
          <li>And share your opinion on the books you read</li>
        </ul>
      </div>
    
      <button class="brown-btn"><a href="/profile/shelf">See my shelf
        </a></button>

    </div>

  </section>
  </div>


</body>