/* 

colors: 
- book : #6B4021 
rgba(35, 35, 35, 0.7)
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}


a {
  color: rgb(184, 243, 245);
  text-decoration: none;

}

h1 {
  text-transform: uppercase;
  color: #6B4021;

}

h2 {
  color: #6B4021;
  font-size: 30px;

}

p,
li {
  color: #6B4021;
  font-size: 15px;

}

/* GENERAL STYLING FOR NAV BAR AND BACKGROUND */
#general-background {
  background-image: url(/images/fond-bois.png);
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  /* margin:-20px -20px 0 -20px; */
}


.nav-bar {
  background-color: rgba(98, 51, 18, 0.576);
  height: 80px;
  width: 100%;
  margin: -50px -50px 0 -50px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
}

#logo img {
  width: 90px;
  flex-grow: 0;
}

#search-bar {
  flex-grow: 2;
  display: flex;
}

#search-bar form {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

#search-bar input {
  flex-grow: 1;
  height: 40px;
  background-color: rgba(250, 235, 215, 0.727);
  border: none;
  border-radius: 10px 0 0px 10px;
}

button {
  padding: 0 10px;
  flex-grow: 0;
  height: 40px;
  border: none;
  background-color: rgba(184, 243, 245, 0.727);
  color: #6B4021;
  font-weight: bolder;
}

#search-bar button {
  border-radius: 0px 10px 10px 0px;
  font-size: 15px;
}

#page-links {
  flex-grow: 1;
  display: flex;
}

#page-links button {
  border-radius: 10px;
  margin-top: 15px;
  font-size: 15px;
}

#page-links ul {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

}

#page-links li {
  width: 130px;
  padding: 0;

}

#page-links a {
  font-size: 20px;
  color: rgb(184, 243, 245);
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;

}

/* STYLING FOR BOOK CARDS  */

.shelf {
  width: 100%;
  padding-left: 30px;
  margin: 50px 0 100px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.book-card {
  width: 250px;
  height: 400px;
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #42362e;

}

.book-image {
  height: 70%;
}

.book-image img {
  height: 100%;
  object-fit: contain;
  padding: 5px 0;

}

.book-description {
  height: 10%;
  margin: 5px 5px 5px 10px;
  display: flex;

  flex-direction: column;
}

/* .book-title h3 {
  font-size: 100%;
  font-weight: bolder; 
  padding:5px ;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 200px;
} */


.book-title h3 {
  font-size: 100%;
  font-weight: bolder;
  padding: 5px;
  margin-top: 0em;
  justify-content: flex-start;
  text-align: center;
  display: inline-block;
  /* important */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-title,
.running-title {
  -webkit-transition: 3.3s;
  -moz-transition: 3.3s;
  transition: 3.3s;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}


.book-title {
  overflow: hidden;
  width: 160px;
}


.booktitle h3:hover {
  text-decoration: none;
}

.running-title {
  margin-left: 0em;
}

.book-title:hover .running-title {
  margin-left: -300px;
}



.buttons {
  height: 20%;
  padding: 5px;
}

.book-card button {
  width: 150px;
  height: 35%;

  border-radius: 10px;
  margin: 0 5px 5px 0;
  font-size: 15px;

}


.brown-btn {
  background-color: rgba(73, 45, 25, 0.564);
  color: rgb(184, 243, 245);

}

.brown-btn a {
  color: rgb(184, 243, 245);
  text-decoration: none;
}

.blue-btn a {
  color: #6B4021;
  text-decoration: none;

}

/* STYLING FOR SHELF PAGE */
.shelf-page {
  width: 100%;
  margin: 50px 40px 0 -10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
}

#video {
  flex-grow: 0;
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 10px;
  min-width: 550px;
  max-width: 550px;
  margin: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video div {
  height: 120px;
  display: flex;
  margin-top: 20px;
  flex-flow: row nowrap;
  align-items: center;
  flex-direction: flex-start;
}

#video img {
  width: 100px;
  margin-right: 5px;
  object-fit: contain;

}

#video iframe {
  width: 500px;
  margin-top: 20px;
  object-fit: contain;
}

.myShelf {
  flex-grow: 1;
  min-width: 550px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

/* PROFILE STYLING */
#profile-page {
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 20px;
  margin: 100px 0 0 90px;
  height: 450px;
  width: 800px;
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;


}

#profile-picture {
  width: 350px;
}

#profile-picture img {
  width: 300px;
  object-fit: contain;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}


#profile-page form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#profile-page form .blue-btn {
  margin-left: 10px;
  border-radius: 10px;
  width: 140px;
  height: 40px;
}



.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  margin-left: 20px;
  width: 150px;
  height: 40px;
  padding: 10px 0 0 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: rgba(73, 45, 25, 0.564);
  color: rgb(184, 243, 245);
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: rgba(184, 243, 245, 0.727);
  color: #6B4021;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

#profile-body{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#profile-page{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 50px 0 0 0;
  align-self: center;
}

#profile-page div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-end: 0;
}


#profile-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#profile-info button {
  width: 200px;
  border-radius: 10px;
  margin: 27px;
  align-self: flex-end;
}

/* LOGIN & SIGNUP */


#signin {
  margin: 150px 0 0 430px;
  width: 590px;
  height: 500px;
  background-color: rgba(98, 51, 18, 0.576);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.identification {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.identification h1 {
  color: rgb(184, 243, 245);
}

.identification input {
  width: 400px;
  height: 40px;
  background-color: rgba(250, 235, 215, 0.727);
  border: none;
  margin: 10px;
  border-radius: 10px;
}

.identification button {
  width: 400px;
  margin: 10px;
  border-radius: 10px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup p {

  color: rgb(184, 243, 245);
  font-size: 20px;
}

.signup button {
  border-radius: 10px;
}

.signup a {
  color: #6B4021;
  text-decoration: none;
}

#errorMessage {
  margin: 20px 0 0 430px;
  width: 590px;
  height: 100px;
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#errorMessage p {
  font-size: 25px;
  color: #B22222;
}

.signin+label {
  border-radius: 10px;
}


/* HOME PAGE  */
#home-page h2 {
  margin: 50px 0 0 50px;
  width: 1000px;
  height: 50px;
  font-size: 50px;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}


/* BOOK DETAILS */

#bookDetailPage {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 40px;
}

#bookDetailImage {
  flex-grow: 0;
  display: flex;
  flex-flow: column nowrap;
  margin: 17px;
}

#bookDetailImage img {
  height: 600px;
  object-fit: contain;
}

#bookDetailImage form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#bookDetailImage button {
  width: 45%;
  height: 30px;
  border-radius: 5px;
}

#btn-addFromDetailPage {
  margin: 10px;
}

#bookDetailImage input {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(184, 243, 245, 0);
  color: #6B4021;
  font-size: 15px;
  font-weight: bolder;
  border: none;
}

#bookDetailsAndComments {
  flex-grow: 1;
  text-align: justify;
  min-width: 700px;
  margin: 0 17px 0 17px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 5px;
}

#bookDetailsAndComments h2 {
  overflow-wrap: break-word;
  text-align: left;
  font-size: 45px;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

#bookDetails {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-align: left;
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 10px;
  padding: 20px;
}

#bookDetails button {
  border-radius: 5px;
}


#recommandations {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#recommandations p {
  margin-right: 10px;
}

#recommandations form {
  flex-grow: 1;
}

#recommandations button {
  background-color: rgba(73, 45, 25, 0.564);
  height: 30px;
  display: inline-block;
  color: rgba(184, 243, 245, 0.727);
  font-size: 75%;
}


#comments {
  margin: 10px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}


#comments .card {
  margin: 10px 0 0 0;
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 10px;
  color: #6B4021;
  text-align: left;
}

#comments .card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#comments .card-text input {
  width: 100px;
}

#comments button {
  width: 40px;
  height: 40px;
  background-color: #b222227a;
  border: none;
}

#comments form>button {
  width: 100px;
  margin-top: 10px;
}

#comments .existingComments {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
}

.existingComments form{
  text-align: right;
  margin-block-end: 0;
}

.existingComments .card-body{
  max-width: 350px ;
}

#comments .newComment {
  width: 100%;
}


/* About US PAGE  */

#about-us {
  display: flex;
  max-width: 2000px;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.admin-card {
  background-color: rgba(250, 235, 215, 0.727);
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.admin-card img {
  height: 400px;
  object-fit: contain;
  margin: 10px;

}

.admin-card p {
  font-size: 20px;
}
